.certificationCard {
    width: 100%;
    margin: auto;
    text-align: left;
    border-bottom: 1px solid white;
   }
   
   .certificationCardImage {
       width: 100%;
       border-radius: 10px;
       box-shadow: 2px 2px 10px #111;
   }
   
   .certificationCardImage img {
       width: 80%;
       height: auto; 
       display: block;
       margin: 0 auto; 
   }
   
   .certificationButton {
       margin-bottom: 8px;
       height: 2rem;
       width: 8rem;
   
   }
   
   