@media only screen and (min-width: 1200px){
    .projectCard,
    .projectCardImage,
    .projectCardImage img,
    .projectButton {
        display: none;
    }
}

@media only screen and (max-width: 1199px){
.projectCard {
 width: 100%;
 margin: auto;
 text-align: left;
 border-bottom: 1px solid white;
}

.projectCardImage {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #111;
}

.projectCardImage img {
    width: 80%;
    height: auto; 
    display: block;
    margin: 0 auto; 
}

.projectButton {
   display: none;
}
}
