.aboutCard {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #6D52FF;
    border-radius: 10px 0px 10px 0px;
}

.aboutCardSkills {
    display: block;
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    background-color: #6D52FF;
    border-radius: 10px 0px 10px 0px;
}

