@media only screen and (min-width: 1200px) {
    #certifications {
        display: none;
    }
    
    .certificationCardDisplay {
        display: none;
    }
}

@media only screen and (max-width: 1199px){
#certifications {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #6D52FF;
    border-radius: 10px 0px 10px 0px;
}

.certificationCardDisplay {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
}